<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>net.example.theosexample1/preferences</string>
			<key>defaults</key>
			<string>net.example.theosexample1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Setting1 has a long string of auto sized text</string>
			<key>key</key>
			<string>setting1</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>net.example.theosexample1/preferences</string>
			<key>defaults</key>
			<string>net.example.theosexample1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Setting2</string>
			<key>key</key>
			<string>setting2</string>
			<key>default</key>
			<integer>0</integer>
			<key>validTitles</key>
			<array>
				<string>Title1</string>
				<string>Title2</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>net.example.theosexample1/preferences</string>
			<key>defaults</key>
			<string>net.example.theosexample1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Setting3</string>
			<key>key</key>
			<string>setting3</string>
			<key>default</key>
			<integer>0</integer>
			<key>validTitles</key>
			<array>
				<string>Title1</string>
				<string>Title2</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>net.example.theosexample1/preferences</string>
			<key>defaults</key>
			<string>net.example.theosexample1</string>
		</dict>
	</array>
	<key>title</key>
	<string>Theos Example 1</string>
</dict>
</plist>
